
@{
    ViewBag.Title = "Index";
}

<div id="main" class="clearfix">
    <div class="title-bar">
        <h2 class="content-wrap">Welcome to the Twitter Page</h2>
    </div>
    <div class="content-wrap">
        <section role="main" id="content">
            <div class="tweet-search">
                <h3>Search for updates:</h3>
                <form id="search-form">
                    <label id="search-text-label" for="search-text" class="reader">Enter some text to search on:</label>
                    <input type="text" id="search-text" placeholder="search phrase..." />
                    <input type="submit" id="search-button" value="Search" />
                </form>
            </div>
            <div class="tweet-search-results">
                <div class="results-container">
                    <h3>Search results:</h3>
                    <div class="twitter-feed">
                        <div class="tweet">
                            <p>This is an example Tweet that will be up to 140 characters long. </p>
                            <p class="tweet-datetime">Posted by @@USERNAME on 3rd May 2010 at 11.30am</p>
                        </div>
                        <div class="tweet">
                            <p>This is the text of another Tweet. Note that any hyperlinks in the Tweet should be <a href="https://www.possible.com/" target="_blank">formatted properly</a>.</p>
                            <p class="tweet-datetime">Posted by @@USERNAME on 3rd May 2010 at 10.20am</p>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <a class="previous" href="#" title="previous page"><span class="reader">Previous page of results</span></a>
                    <a class="next" href="#" title="next page"><span class="reader">Next page of results</span></a>
                </div>
            </div>
        </section>
        <aside role="complementary" id="sidebar">
            <h3 class="tweet-heading">@@POSSIBLE</h3>
            <p class="tweet-intro">Our most recent updates:</p>
            <div class="twitter-feed">
                <div class="tweet">
                    <p>This is an example Tweet that will be up to 140 characters long. </p>
                    <p class="tweet-datetime">Posted on 3rd May 2010 at 11.30am</p>
                </div>
                <div class="tweet">
                    <p>This is an example <a href="#">Tweet</a> that will be up to 140 characters long. </p>
                    <p class="tweet-datetime">Posted on 3rd May 2010 at 11.30am</p>
                </div>
            </div>
        </aside>
    </div>
</div>
